/*-----------------------
-------------------------

header-section

-------------------------
------------------------- */
.first-section {

    text-align: center;
    background-color: #FFF4E7;

}

.first-section img {
    width: 80%;
    height: 40%;
    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-option ul {
    display: flex;
    margin-left: 70%;
}

nav ul li {
    list-style: none;
    margin-left: 20px;


}

nav ul li a {
    text-decoration: none;

}

.brand-new {
    font-size: xx-large;
    font-weight: bolder;
}

/* features-section */
.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 15%;
    margin-top: 5%;
}

.all-iamges {
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: center;
    grid-row-gap: 50px;
    grid-column-gap: 50px;

}

/*-----------------------
-------------------------

experience-section

-------------------------
------------------------- */
.experience-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.love-enjoy {
    margin-right: 15%;
}

.love-enjoy-header {
    border-left: solid #FF900E;
    padding-left: 2%;
}

.dexktop-mobile {
    background-color: #ffff;
    padding: 3%;
    margin-top: 3%;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    border-radius: 15px;
}

.builder {
    background-color: #ffff;
    padding: 3%;
    margin-top: 3%;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    border-radius: 15px;


}

.design {
    background-color: #ffff;
    padding: 3%;
    margin-top: 3%;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    border-radius: 15px;
}


.edit {
    background-color: #ffff;
    padding: 3%;
    margin-top: 3%;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    border-radius: 15px;

}

.experience {
    display: flex;
    flex-direction: column;
}

.architect-image {
    width: 708px;
}

.experience-button {
    position: relative;
    bottom: 50px;
    right: 30px;
    background-color: #FF900E;
    height: 100px;
    width: 142px;
}

/* -------------------
        some-facts 
---------------------- */
.some-facts {
    display: grid;
    margin-left: 15%;
    margin-top: 5%;
}

/*-------------------
 some-experience 
-------------- */
.icon-image {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}

/*----------------------------
------------------------------
 sponser-section 
------------------------------
------------------------------ */
.sponsers-section {
    display: grid;
    justify-content: center;
    text-align: center;
}

.sponsers-header {}

.sponsers {
    display: flex;
}

/*-----------------------
-------------------------
footer-section
-------------------------
------------------------- */
.footer-main {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    color: #000000;
    background-color: #FFF4E7;
    width: 90%;
    margin-left: 5%;
}

.p-tag {
    align-items: center;
}

/*----------------------------
------------------------------

medea-query

-------------------------------
------------------------------ */

@media screen and (max-width:688px) {}